# Ignore arquivos e pastas do Visual Studio
.vs/
*.user
*.suo
*.cache
*.csproj.user
*.sln.docstates

# Ignore binários e builds
bin/
obj/
build/

# Ignore pacotes
*.nupkg
*.snupkg
packages/
*.log

# Ignore arquivos temporários
*.tmp
*.bak
*.swp
*~ 

# Ignore configurações locais
appsettings.*.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

# Others
~$*
*~
CodeCoverage/

# MSBuild Binary and Structured Log
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml